<!DOCTYPE HTML>
<html>
	<head>
		<title> Projekt SkyNova </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>		
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexPL">SkyNova</a></h1>
				<nav id="nav">
					<ul>
						<li class="hov"><a href="/contactsPL">Kontakty</a>
						</li>
						<li class="hov"><a>Dowiedz się więcej</a>
							<ul>
								<li><a href="/benefitsPL">Korzyści</a></li>
								<li><a href="/hiwPL">Jak to działa?</a></li>
								<li><a href="/softwarePL">Oprogramowanie</a></li>
							</ul>
						</li>
						<li class="hov"><a>Język</a>
							<ul>
								<li><a href="/index"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> Angielski</a></li>
								<li><a href="/indexES"><img src="{{ url_for('static', filename='images/country_flag/spain-28530_640.png') }}" class="photos"alt="flag2"> Hiszpański</a></li>
							</ul>
						  </li>
					</ul>
				</nav>
				
			</p>
			</header>
		</div>
		<!-- COOKIE -->

        <div id="cookie-window">
            <p>
                This website stores data such as cookies to enable site functionality including analytics and personalization. By using this website, you automatically accept that we use cookies. 
            </p>
            <div id="cookie-consent-container">
                <div id="cookie-container">
                    <button id="cookie-consent">I Consent</button>
                    <button id="cookie-rejection">Reject All</button>
                </div>
            </div>
        </div>
				<section id="banner">
					<div class="content">
						<header>
							<h2>SkyNova</h2>
							<p>GDZIE DRONY ZNAJDUJĄ DOM</p>
						</header>
						
					</div>
				</section>
			<!-- Four -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<div class="col-4 col-12-medium">
							<header>
								<h2>Czym jest SkyNova?</h2>	</header>
								<p><strong>Skynova</strong> to platforma, która pomaga zdalnie połączyć i obsługiwać flotę dronów w dowolnym miejscu. Nasz System pozwala przeglądać dane i komunikować się z bazą dronów, dronami, stacjami dokującymi w jednym łatwym do zrozumienia pulpicie nawigacyjnym. </p>
							
						</div>
						<div class="col-4 col-12-medium">
							<h2>Dlaczego stworzyliśmy ten projekt?</h2>
							<p>Naszym celem jest wykorzystanie tego projektu do zwiększenia wydajności operacyjnej funkcjonariuszy policji, strażaków i innych podstawowych służb w ich codziennej działalności. Dzięki tej stronie usługi publiczne mogą teraz działać łatwiej i wydajniej w porównaniu z poprzednimi metodami. Usprawniona obsługa i eksploatacja dronów przyczyniają się do ogólnej poprawy, zapewniając większe bezpieczeństwo osób fizycznych.</p>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
				<ul class="copyright">
					<li>&copy; SkyNova. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
				</footer>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/cookies.js') }}"></script>

	</body>
</html>