<!DOCTYPE HTML>
<html>
	<head>
		<title> Projekt SkyNova </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/mainC.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexPL">SkyNova</a></h1>
				<nav id="nav">
					<ul>
						<li class="hov"><a>Działanie strony</a>
							<ul>
								<li><a href="/hiwPL">Jak to działa?</a></li>
								<li><a href="/modelsPL">Modele</a></li>
								<li><a href="/softwarePL">Oprogramowanie</a></li>
							</ul>
						</li>						
						<li class="hov"><a>Dowiedz się więcej</a>
							<ul>
								<li><a href="/benefitsPL">Korzyści</a></li>
								<li><a href="/contactsPL">Kontakty</a></li>
							</ul>
						</li>
						<li class="hov"><a>Język</a>
							<ul>
								<li><a href="/information"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> Angielski</a></li>
								<li><a href="/informationES"><img src="{{ url_for('static', filename='images/country_flag/spain-28530_640.png') }}" class="photos"alt="flag2"> Hiszpański</a></li>
							</ul>
						  </li>
					</ul>
				</nav>
			</header>
				<section id="banner">
					<div class="content">
						<header>
							<h2>Informacje</h2>
							<p>Dowiedz się więcej o projekcie</p>
						</header>
						
					</div>
					<a href="#one" class="goto-next scrolly">Następne</a>
				</section>

			<!-- One -->
			<section id="one" class="spotlight style1 bottom">
					
				<span class="image fit main"><img src="{{ url_for('static', filename='images/drone-4638280_1280.jpg') }}" alt="back1" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<h2>Miejskie dostawy na dachach</h2>
								<p>Wyobraź sobie tętniący życiem krajobraz miejski, w którym drony przelatują między wieżowcami, dostarczając paczki na dachy. Projekt SkyNova wizjonuje przyszłość, w której mieszkańcy miast otrzymują swoją poranną kawę, świeże produkty i nawet leki na receptę za pomocą dronów. Te powietrzne kurierki poruszają się w złożonej przestrzeni powietrznej, omijając przeszkody i zapewniając terminowe dostawy. Od artykułów biurowych po wykwintne wypieki, niebo staje się taśmociągiem wygody.
								</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Ekologiczni Inspektorzy</h2>
								<p>Skynova to nie tylko pokazowe drony – to ekowojownicy. Wyobraź sobie: dron zasilany energią słoneczną unosi się nad turbiną wiatrową, jego sensory skanują stan techniczny. Wykrywając wczesne oznaki uszkodzeń, te latające inspektorzy zapobiegają kosztownym awariom i ograniczają czas przestoju związanego z konserwacją. To nachylenie ku zrównoważonemu rozwojowi na najwyższym poziomie</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Pomoc w nagłych wypadkach</h2>
								<p>Gdy nadchodzi katastrofa, flota Skynova wkracza do akcji. Powodzie, pożary lub wypadki przemysłowe – wszystkie są w zasięgu ręki.
									Wyposażone w kamery termowizyjne i czujniki gazu, drony te uzyskują dostęp do stref zagrożenia, lokalizują ocalałych i przekazują krytyczne informacje ratownikom. Życie wisi na włosku, a drony stają się bohaterami nieba.</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Następne</a>
			</section>

			<!-- Two -->
				<section id="two" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/drone_fire.jpg') }}" alt="back2" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
									<h2>Sytuacja awaryjna</h2>
									<p>Gdy wystąpi sytuacja awaryjna (klęski żywiołowe, nagłe wypadki medyczne itp. ), czujniki domu drona wykrywają sytuację.
										W domu wypuszczają w pełni naładowany dron, który samodzielnie leci do miejsca docelowego.
										Dron przewozi zapasy medyczne, szuka ocalałych lub uszkodzenia dostępu.</p>
								
							</div>
							<div class="col-4 col-12-medium">
								<h2>Bezpieczeństwo i nawigacja</h2>
								<p>Domy dronów wyposażone są w odbiorniki GPS i systemy unikania kolizji.
									Drony opuszczające dom podążają predefiniowanymi ścieżkami lotu lub dynamicznie dostosowują swoje trasy w oparciu o dane w czasie rzeczywistym.
									Protokoły bezpieczeństwa zapobiegają kolizjom z innymi dronami lub przeszkodami.
									</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Publiczna świadomość i akceptacja</h2>
								<p>Edukacja społeczeństwa o korzyściach płynących z domów dronów jest kluczowa. Rozwiązanie problemów związanych z prywatnością, hałasem i bezpieczeństwem ma zasadnicze znaczenie.
									Współpraca z władzami lokalnymi, służbami ratowniczymi i społecznościami sprzyja akceptacji i integracji.</p>
							</div>
						</div>
					</div>
				</div>
						
					<a href="#three" class="goto-next scrolly">Następne</a>
				</section>

				<!-- Three -->
				<section id="three" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/city_overlook.png') }}" alt="back3" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<h2>Wygląd i rozmieszczenie</h2>
								<p>Projekt obejmuje zaprojektowanie specjalistycznych stacji dronów lub domów, które mogą pomieścić drony, gdy nie są używane. Domy te są strategicznie rozmieszczone w różnych miejscach, w tym w centrach miast, obszarach wiejskich i regionach podatnych na klęski żywiołowe.</p>
								
							</div>
							<div class="col-4 col-12-medium">
								<h2>Autonomiczne ładowanie i konserwacja</h2>
								<p>Każdy dom drona wyposażony jest w autonomiczny system ładowania. Kiedy dron wraca z misji, automatycznie dokuje do wyznaczonego domu. System ładowania uzupełnia akumulator drona, zapewniając, że jest on gotowy do następnego wdrożenia. Zadania konserwacyjne, takie jak kalibracja czujników, sprawdzanie śmigła i aktualizacje oprogramowania, są również wykonywane w domu.</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Integracja z sieciami komunikacyjnymi</h2>
								<p>Domy dronów są podłączone do sieci komunikacyjnych (takich jak 3G, 4G lub 5G), aby ułatwić komunikację w czasie rzeczywistym z naziemnymi stacjami kontroli. W scenariuszach klęski żywiołowej domy te pełnią rolę węzłów komunikacyjnych, zapewniając łączność z dotkniętymi obszarami.</p>
							</div>
						</div>
					</div>
				</div>
						
					<a href="#four" class="goto-next scrolly">Następne</a>
				</section>

				<section id="four" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/drone123.jpg') }}" alt="back4" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<h2>Firma FlytBase</h2>
								<p>FlytBase, pionierska firma, zapewnia platformę autonomii dronów, która znajduje zastosowanie w różnych branżach. Ich misją jest stworzenie przyszłości, w której drony będą działać autonomicznie, wydajnie i bezpiecznie. Aby to osiągnąć, firma oferuje platformę Enterprise Drone Autonomy Software Platform przeznaczoną dla integratorów systemów. Platforma ta automatyzuje powtarzalne i rutynowe operacje dronów za pomocą doków dronów, które można wdrożyć w celu zapewnienia bezpieczeństwa obiektu, kontroli zasobów lub reagowania kryzysowego.</p>
								
							</div>
							<div class="col-4 col-12-medium">
								<h2>Platforma Flytbase</h2>
								<p>Platforma FlytBase obsługuje operacje dronów BVLOS (Beyond Visual Line of Sight) i zapewnia zgodność z przepisami lotniczymi. Zapewnia szczegółowe dzienniki danych, konfigurowalne aplikacje i bezproblemową integrację z istniejącymi przepływami pracy. Platforma jest odporna na sprzęt, skalowalna i stawia bezpieczeństwo na pierwszym miejscu.</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Nowe możliwości</h2>
								<p>FlytBase współpracuje z producentami dronów, integratorami systemów i klientami korporacyjnymi na całym świecie. Ich zaangażowanie w badania, innowacje i zaangażowanie społeczne stawia ich jako kluczowych graczy w ekosystemie dronów, przekształcając branże i tworząc nowe możliwości.</p>
							</div>
						</div>
					</div>
				</div>
						
					<a href="#five" class="goto-next scrolly">Następne</a>
				</section>

			<!-- Five -->
				<section id="five" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{{ url_for('static', filename='images/multicopter-1873532_1280.jpg') }}" alt="back5" /></span>

					<div class="content">
						<header>
							<h2>Globodain Technology Corporation</h2>
						</header>
						<p>
							Globodain to firma technologiczna z siedzibą w Sewilli w Hiszpanii. Skupiamy się głównie na rozwoju technologii cyfrowych i aktywnie współpracujemy w ramach projektów Unii Europejskiej, w tym programu mobilności Erasmus+. Globodain koncentruje się na dokonywaniu postępów technologicznych i wywieraniu pozytywnego wpływu poprzez innowacje i współpracę.
						</p>						
					</div>
					<a href="#footer" class="goto-next scrolly">Następne</a>
				</section>
				
			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; SkyNova. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>