<!DOCTYPE HTML>
<html>
	<head>
		<title> Projekt SkyNova </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/mainF.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/index">SkyNova</a></h1>
				<nav id="nav">
					<ul>						
						<li class="hov"><a>Jak to działa</a>
							<ul>
								<li><a href="/informationPL">Informacje</a></li>
								<li><a href="/hiwPL">Uruchamianie skryptu</a></li>
								<li><a href="/softwarePL">Oprogramowanie</a></li>
							</ul>
						<li class="hov"><a>Dowiedz się więcej</a>
							<ul>
								<li><a href="/benefitsPL">Korzyści</a></li>
								<li><a href="/contactsPL">Kontakt</a></li>
							</ul>
						</li>
						<li class="hov"><a>Języki</a>
							<ul>
								<li><a href="/hiw"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> Angielski</a></li>
								<li><a href="/hiwES"><img src="{{ url_for('static', filename='images/country_flag/spain-28530_640.png') }}" class="photos"alt="flag2">Hiszpański</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
				<section id="banner">
					<div class="content">
						<header>
							<h2>Modele</h2>
						
						</header>
						
					</div>
	
				</section>
         <!-- One -->
				<section id="one" class="spotlight style3 left">
			

					<div class="content">
					
							<header>
								<h2>Model 1</h2>	</header>
								<p>Ten model przedstawia cały szkic hangaru. Możemy na nim zobaczyć między innymi panele słoneczne czy wejście do hangaru</p>
								
					</div>
					<div>
						<img id="img1" src="images/Models/Models/cad drawing 1 -copy.png" alt="Models" />
					</div>
			
				</section>
				<!-- two -->
				<section id="two" class="spotlight style2 right">
					
					<div class="content">
						<header>
							<div class="col-4 col-12-medium">
								<h2>Model 2</h2></header>
								<p>Ten model przedstawia widok z przodu wraz z komponentami baterii w hangarze. Dzięki tej reprezentacji można wyobrazić sobie potencjalny wygląd konstrukcji. </p> 
							</div>
							<div>
								<img id="img2" src="images/Models/Models/battery side and front.png" alt="Models2" />
							</div>
				
				</section>

				<section id="three" class="spotlight style3 left">
					
					<div class="content">
						<header>
							<div class="col-4 col-12-medium">
								<h2>Model 3</h2></header>
								<p>Z tej perspektywy uzyskujemy dokładny widok strony akumulatora. Dodatkowo dokładnie odwzorowuje odpowiadającą jej stronę konstrukcji hangaru. </p>
							</div>
							<div>
							<embed id="img3" src="images/Models/Models/battery side.png" alt="Model3">
							</div>
				
				</section>

				<footer id="footer">
					<ul class="copyright">
						<li>&copy; SkyNova. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
		
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>