<!DOCTYPE HTML>
<html>
	<head>
		<title> SkyNova Project </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mainB.css') }}" />		
		<link rel="icon" href="images/DroneIcon.png">		
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexES">Skynova</a></h1>
				<nav id="nav">
					<ul>
						<li class="hov"><a>Que trabaja?</a>
							<ul>
								<li><a href="/informationES">Informationes</a></li>
								<li><a href="/hiwES">Script</a></li>
								<li><a href="/modelsES">Modelos</a></li>
								<li><a href="/softwareES">Pagina Back</a></li>
							</ul>
						</li>						
						<li class="hov"><a>Más información</a>
							<ul>
								<li><a href="/contactsES">Contactos</a></li>
							</ul>
						</li>
						<li class="hov"><a>Idioma</a>
							<ul>
								<li><a href="/indexPL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polaco</a></li>
								<li><a href="/index"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> INGLÉS</a></li>
							</ul>
						  </li>
					</ul>
				</nav>
			</header>
				<section id="banner">
					<div class="content">
						<header>
							<h2>Prestaciones</h2>
						</header>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

				<section id="one" class="spotlight style2 bottom">		
					<span class="image fit main"><img src="{{ url_for('static', filename='images/SolarField.png') }}" alt="photo1"></span>
					<h1 id="hangar">Los hangares de drones ofrecen una gama de ventajas:</h1>
						<div class="carousel">
							<div class="slides next-button">

								<div class="slide ">																			
									<h1>1. Seguridad:</h1> 
									
									<br>Proporcionan un entorno seguro para almacenar drones, reduciendo el riesgo de robo, vandalismo o daños.
								</div>
								<div class="slide ">
									<h1>2. Protección meteorológica:</h1>

									<br>Los hangares protegen a los drones de condiciones climáticas adversas como lluvia, viento o temperaturas extremas, ayudando a prolongar su vida útil y a mantener su disponibilidad operacional.
								</div>
								<div class="slide ">
									<h1>3. Instalaciones de mantenimiento:</h1>

									<br>Equipados con áreas de mantenimiento, los hangares permiten el mantenimiento rutinario, las reparaciones y la recarga de los drones, asegurando que estén siempre en óptimas condiciones para las misiones.
								</div>
								<div class="slide ">
									<h1>4. Almacenamiento organizado:</h1>

									<br>Con espacios designados para drones, baterías, piezas de repuesto y otros equipos, los hangares facilitan la gestión eficiente del inventario y el fácil acceso a los recursos, mejorando la eficiencia operativa.
								</div>	
								<div class="slide ">
									<h1>5. Infraestructura de tarificación:</h1>

									<br>Los hangares pueden equiparse con estaciones de carga o estaciones de acoplamiento, lo que permite a los drones recargarse entre misiones de forma autónoma, reduciendo el tiempo de inactividad y permitiendo un funcionamiento continuo.
								</div>
								<div class="slide ">
									<h1>6. Operaciones centralizadas:</h1>

									<br>Al centralizar las operaciones de drones en un hangar, las organizaciones pueden racionalizar la logística, la comunicación y la coordinación, lo que lleva a una planificación y ejecución más eficaces de las misiones.
								</div>								
								<div class="slide ">
									<h1>7. Cumplimiento normativo:</h1>

									<br>Los hangares proporcionan un área designada para las operaciones de drones, ayudando a las organizaciones a cumplir con las regulaciones de aviación, las normas de seguridad y los problemas de privacidad asociados con el uso de drones.
								</div>
								<div class="slide ">
									<h1>8. Escalabilidad:</h1>

									<br>Los hangares son escalables y pueden acomodar una creciente flota de drones o necesidades operacionales cambiantes, proporcionando flexibilidad y adaptabilidad para satisfacer las necesidades cambiantes.
								</div>
								<div class="slide ">
									<h1>9. Gestión de datos:</h1>

									<br>Los sistemas integrados de gestión de datos dentro de los hangares facilitan el almacenamiento, el análisis y el intercambio de los datos recogidos por los drones, apoyando la toma de decisiones informadas y conocimientos prácticos.
								</div>
								<div class="slide ">
									<h1>10. Personalización e Integración:</h1>

									<br>Los hangares pueden personalizarse para satisfacer las necesidades específicas de la industria e integrarse con otras tecnologías, como vehículos terrestres autónomos o redes de sensores, mejorando la capacidad general y la eficiencia.
								</div>
								
								<!-- Add more slides as needed -->
							</div>
						</div>
						<div class="content">															
							<p>En resumen, los hangares de drones sirven como infraestructura esencial para optimizar las operaciones de drones, garantizar el cumplimiento de las regulaciones y maximizar la eficacia de las misiones en diversas industrias y aplicaciones.</p>						
						</div>
						<a href="#two" class="goto-next scrolly">Next</a>						
					</section>
			
				

                <!-- Two -->
				<section id="two" class="spotlight style2 right">					
					<h1 id="hangar">Drone Hangar vs. Inspecciones manuales</h1>
					

					<h2>Efficiency:</h2>
					
					<p>Drone Hangar: With automated drone deployment and maintenance facilities, inspections are streamlined, saving time and reducing labor costs. Drones can cover large areas quickly and access hard-to-reach spots, enhancing overall efficiency.</p>
					
					<p>Manual Inspections: Reliant on manual labor, which can be time-consuming and labor-intensive. Workers may need to navigate challenging terrain or use cumbersome equipment, leading to potential delays and increased labor expenses.</p>
					
					<h2>Coverage:</h2>
					
					<p>Drone Hangar: Equipped with drones, the hangar facilitates comprehensive inspections of entire solar farms. Drones can fly over vast areas efficiently, ensuring that every solar panel is thoroughly examined for defects or damage.</p>
					
					<p>Manual Inspections: Limited by human capabilities and accessibility constraints. Workers may struggle to reach certain areas of the solar panels, leading to potential oversights or incomplete inspections.</p>
					
					<h2>Accuracy:</h2>
					
					<p>Drone Hangar: Drones are equipped with high-resolution cameras and advanced sensors, enabling precise defect detection and analysis. Automated flight paths and data capture processes ensure consistency and accuracy in identifying issues.</p>
					
					<p>Manual Inspections: Reliant on human observation, which may vary in consistency and thoroughness. Factors such as fatigue or distractions can impact the accuracy of defect detection, potentially resulting in missed or misinterpreted issues.</p>
					
					<h2>Safety:</h2>
					
					<p>Drone Hangar: Minimizes safety risks by reducing the need for workers to access hazardous areas or work at heights. Drones can navigate challenging terrain and harsh weather conditions, keeping workers out of harm's way.</p>
					
					<p>Manual Inspections: Workers face safety hazards when accessing rooftops or using elevated platforms to inspect solar panels. Accidents such as falls or injuries are possible, especially in challenging or adverse environmental conditions.</p>
					
					<h2>Cost-effectiveness:</h2>
					
					<p>Drone Hangar: While the initial investment in infrastructure (hangar, drones, and equipment) may be higher, long-term cost savings are achieved through increased efficiency and reduced labor expenses. Automated processes and proactive maintenance help minimize downtime and maximize the lifespan of solar panel arrays.</p>
					
					<p>Manual Inspections: Lower initial investment, but ongoing labor costs can add up over time. Additionally, expenses related to safety measures, insurance for workers, and potential downtime due to accidents or injuries may increase overall costs.</p>
					
					<h2>Data Analysis:</h2>
					
					<p>Drone Hangar: Integrated data management systems within the hangar streamline data analysis and storage processes. Captured data is organized and easily accessible, facilitating proactive maintenance and performance monitoring.</p>
					
					<p>Manual Inspections: Data collection may be less standardized and organized, requiring additional time and effort for analysis. Without integrated systems, identifying trends or patterns in inspection data may be challenging, potentially delaying maintenance actions.</p>
					
					<h2>Conclusion:</h2>
					
					<p>The drone hangar solution offers significant advantages over manual inspections in terms of efficiency, coverage, accuracy, safety, and cost-effectiveness. By leveraging drone technology and automation, solar energy companies can enhance their maintenance processes, optimize resource utilization, and maximize the performance and longevity of their solar panel arrays.</p>
					
					<a href="#three" class="goto-next scrolly">Next</a>						
					</section>

					<section id="three" class="spotlight style2 right">
						<span class="image fit main"><img src="{{ url_for('static', filename='images/5v2.jpg') }}" alt="photooo"></span>
						<h1 id="hangar">Example: Drone Hangar for Solar Panel Inspections</h1>
						<div id="example">
							<h2>Company:</h2><p>Solar Power Inc. (SPI)</p>
							<h2>Scenario:</h2><p>Problem: SPI manages multiple solar farms and needs to efficiently inspect and maintain its extensive solar panel arrays for optimal performance.</p>
							<h2>Solution:</h2><p>Implementation: SPI installs a drone hangar at one of its largest solar farms in California.</p>
							<h2>Outcome:</h2><p>The drone hangar enhances SPI's ability to inspect and maintain solar panels efficiently, contributing to the company's sustainable energy initiatives.</p>
						</div>
					</section>
				

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/ben.js') }}"></script>
		

			<script>
				// JavaScript functions for carousel
				let slidesContainer = document.querySelector('.slides');
				let nextButton = document.querySelector('.next-button');
				let slideWidth = document.querySelector('.slide').clientWidth; // Adjust if needed
				
				let slideIndex = 0;				

				function showSlide(index) {
				    slidesContainer.style.transform = `translateX(-${index * slideWidth}px)`;
				}
				
				nextButton.addEventListener('click', () => {
				    if(slideIndex < slidesContainer.children.length - 2){
				        slideIndex = slideIndex + 1;	
				    }else{
				        slideIndex = 0;
				    }				    
				    showSlide(slideIndex);
				});

				// Initial slide display
				showSlide(slideIndex);
			</script>
	</body>
</html>