<!DOCTYPE HTML>
<html>
	<head>
		<title>Contactos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>		
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexES">SkyNova</a></h1>
				<nav id="nav">
					<ul>						
						<li class="hov"><a>Que trabaja?</a>
							<ul>
								<li><a href="/informationES">Informationes</a></li>
								<li><a href="/hiwES">Script</a></li>
								<li><a href="/modelsES">Modelos</a></li>
								<li><a href="/softwareES">Pagina Back</a></li>
							</ul>
						<li class="hov"><a>Más información</a>
							<ul>
								<li><a href="/benefitsES">Beneficios</a></li>
							</ul>
						</li>
						<li class="hov"><a>Idioma</a>
							<ul>
								<li><a href="/contactsPL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polaco</a></li>
								<li><a href="/contacts"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> INGLÉS</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
			</div>

           <!-- Footer -->
			<footer id="footer">
				<h2>Contactos</h2>
				<ul class="icons">
					<li><a href="https://www.facebook.com/globodain" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.linkedin.com/company/globodain" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
					<li><a href="https://www.instagram.com/globodain" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/Globodain/" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:admin@globodain.com" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<h4>Número de teléfono: <span style="color: gray;">000 000 000</span></h4>
				<br>
				<h2>Puede encontrarnos aquí</h2><iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d792.5702557111925!2d-5.986532950441397!3d37.38318585977002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0xd126c1faca025df%3A0xa910170f0485ea73!2sBartolome%20de%20Medina%2C%20Sevilla!3m2!1d37.3835549!2d-5.9860980999999995!5e0!3m2!1sen!2ses!4v1708080994499!5m2!1sen!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				<ul class="copyright">
					<li>&copy; SkyNova. Todos los derechos reservados.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>