<!DOCTYPE HTML>
<html>
	<head>
		<title>SkyNova Proyecto </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/mainC.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexES">SkyNova</a></h1>
				<nav id="nav">
					<ul>						
						<li class="hov"><a>Cómo funciona</a>
							<ul>
								<li><a href="/informationES">Información</a></li>
								<li><a href="/modelsES">Modelos</a></li>
								<li><a href="/softwareES">El Software</a></li>
							</ul>
						<li class="hov"><a>Saber más</a>
							<ul>
								<li><a href="/benefitsES">Prestaciones</a></li>
								<li><a href="/contactsES">Contactos</a></li>
							</ul>
						</li>
						<li class="hov"><a>Idioma</a>
							<ul>
								<li><a href="/hiwPL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag">  Polaco</a></li>
								<li><a href="/hiw"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> Ingles</a></li>
								
							</ul>
						</li>
					</ul>
				</nav>
			</header>
				<section id="banner">
					<div class="content">
						<header>
							<h2> Cómo funciona? </h2>
							<p>Conozca más sobre nuestro proyecto</p>
						</header>
						
					</div>
					<a href="#one" class="goto-next scrolly">Siguiente</a>
				</section>

			<!-- One -->
			<section id="one" class="spotlight style1 bottom">
					
				<span class="image fit main"><img src="{{ url_for('static', filename='images/drone-4638280_1280.jpg') }}" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<header>
									<h2>Cómo funciona?</h2>	</header>
									<p>Tras la selección de un comando por parte de un usuario autorizado, el mensaje completo se transmitirá a la base del dron, donde se someterá a ejecución. Ejemplos de estas órdenes pueden ser tareas como abrir puertas o comprobar el nivel de batería del dron. Cabe destacar que todo el hangar se alimenta de forma sostenible con energía solar, lo que garantiza un funcionamiento ininterrumpido tanto de día como de noche.
										</p>
								
							</div>
							<div class="col-4 col-12-medium">
								<h2>Requisitos para el hangar de drones:</h2>
								<p>
									Además, es esencial encontrar una ubicación adecuada; debe dar cabida a varios drones y estar bien iluminada para aprovechar la energía de los paneles solares. Otro aspecto crítico es el propio servidor, que requiere un microordenador para funcionar de forma óptima.
							
									</p>
							</div>
							<div class="col-4 col-12-medium">
							<h2>Para construir un hangar de este tipo se necesitan varios materiales, entre ellos:</h2>
								<p>
								
									<ul>
									<li>Hormigón</li>
									<li> Polímeros de carbono</li>
									<li> Vigas de acero</li>
									<li> Engranajes</li>
									<li>Fibra de carbono termoplástica</li>
									<li>Paneles solares</li>
									</ul></p>
							</div>
						</div>                                            
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Siguiente</a>
			</section>
				
			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; SkyNova. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>