<!DOCTYPE HTML>
<html>
	<head>
		<title> Proyecto SkyNova </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/mainC.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexES">SkyNova</a></h1>
				<nav id="nav">
					<ul>						
						<li class="hov"><a>Cómo Funciona</a>
							<ul>
								<li><a href="/hiwES">Ejecutando el script</a></li>
								<li><a href="/modelsES">Modelos</a></li>
								<li><a href="/softwareES">El Software</a></li>
							</ul>
						</li>
						<li class="hov"><a>Saber más</a>
							<ul>
								<li><a href="/benefitsES">Prestaciones</a></li>
								<li><a href="/contactsES">Contactos</a></li>
							</ul>
						</li>
						<li class="hov"><a>Idioma</a>
							<ul>
								<li><a href="/informationPL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polaco </a></li>
								<li><a href="/information"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> Ingles </a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
				<section id="banner">
					<div class="content">
						<header>
							<h2>Informationes</h2>
							<p>Conozca más sobre nuestro proyecto</p>
						</header>
						
					</div>
					<a href="#one" class="goto-next scrolly">Siguiente</a>
				</section>

			<!-- One -->
			<section id="one" class="spotlight style1 bottom">
					
				<span class="image fit main"><img src="{{ url_for('static', filename='images/drone-4638280_1280.jpg') }}" alt="back1" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<h2>Urbanas Tejado Entregas</h2>
								<p>Imagine un bullicioso paisaje urbano donde los drones se deslizan entre rascacielos, entregando paquetes a las pistas de aterrizaje de la azotea. El proyecto SkyNova prevé un futuro en el que los habitantes urbanos reciban su café de la mañana, productos frescos e incluso medicamentos recetados a través de drones. Estos mensajeros aéreos navegan por un espacio aéreo complejo, evitando obstáculos y garantizando entregas puntuales. Desde suministros de oficina hasta pasteles artesanales, el cielo se convierte en una cinta transportadora de conveniencia.
								</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Inspecciones respetuosas con el medio ambiente</h2>
								<p>Los drones de Skynova no son solo para mostrar, son eco-guerreros. Imagínese esto: Un dron alimentado por energía solar se cierne sobre una turbina eólica, sus sensores escanean en busca de desgaste.
									Al detectar señales tempranas de daños, estos inspectores en vuelo evitan costosas averías y reducen el tiempo de inactividad del mantenimiento. Es la sostenibilidad en su mayor altitud.</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Respuesta de emergencia desde arriba</h2>
								<p>Cuando ocurre un desastre, la flota de Skynova entra en acción. Inundaciones, incendios forestales o accidentes industriales: todos están al alcance de la mano.
									Equipados con cámaras térmicas y sensores de gas, estos drones acceden a zonas de peligro, localizan sobrevivientes y transmiten información crítica a los primeros en responder. Vidas penden de un hilo, y los drones se convierten en héroes del cielo.s</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Siguiente</a>
			</section>

			<!-- Two -->
				<section id="two" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/drone_fire.jpg') }}" alt="back2" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
									<h2>Despliegue de emergencia</h2>
									<p>Cuando se produce una emergencia (desastres naturales, emergencias médicas, etc. ), los sensores de la casa de drones detectan la situación.
										El lanzamiento de la casa un dron completamente cargado, que vuelan de forma autónoma a la ubicación objetivo.
										El dron lleva suministros médicos, busca sobrevivientes o accede a daños</p>
								
							</div>
							<div class="col-4 col-12-medium">
								<h2>Navegación y seguridad</h2>
								<p>Las casas de drones están equipadas con receptores GPS y sistemas de prevención de colisiones.
									Los drones que salen de casa siguen rutas de vuelo predefinidas o ajustan dinámicamente sus rutas basándose en datos en tiempo real.
									Los protocolos de seguridad evitan colisiones con otros drones u obstáculos.
									</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Concienciación y aceptación del público</h2>
								<p>Educar al público sobre los beneficios de los hogares con drones es crucial. Abordar las preocupaciones relacionadas con la privacidad, el ruido y la seguridad es esencial.
									La colaboración con las autoridades locales, los servicios de emergencia y las comunidades fomenta la aceptación y la integración.</p>
							</div>
						</div>
					</div>
				</div>
						
					<a href="#three" class="goto-next scrolly">Siguiente</a>
				</section>

				<!-- Three -->
				<section id="three" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/city_overlook.png') }}" alt="back3" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<h2>Diseño y despliegue</h2>
								<p>El proyecto implica el diseño de estaciones especializadas de drones u hogares que puedan alojar drones cuando no estén en uso. Estos hogares están ubicados estratégicamente en varios lugares, incluyendo centros urbanos, áreas rurales y regiones propensas a desastres.</p>
								
							</div>
							<div class="col-4 col-12-medium">
								<h2>Carga y Mantenimiento Autónomo</h2>
								<p>Cada casa de drones está equipada con un sistema de carga autónomo. Cuando un dron regresa de una misión, se atraca automáticamente en su hogar designado. El sistema de carga repone la batería del dron, asegurando que esté listo para el próximo despliegue. Las tareas de mantenimiento, como la calibración de sensores, las comprobaciones de hélices y las actualizaciones de software, también se realizan dentro del hogar.</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Integración con las redes de comunicación</h2>
								<p>Las casas de drones están conectadas a redes de comunicación (como 3G, 4G o 5G) para facilitar la comunicación en tiempo real con las estaciones de control en tierra. En situaciones de desastre, estos hogares actúan como centros de comunicación, proporcionando conectividad a las zonas afectadas.</p>
							</div>
						</div>
					</div>
				</div>
						
					<a href="#four" class="goto-next scrolly">Siguiente</a>
				</section>

				<section id="four" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/drone123.jpg') }}" alt="back4" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<h2>Compañía FlytBase</h2>
								<p>FlytBase, una empresa pionera, proporciona una plataforma de autonomía de drones que encuentra aplicaciones en diversas industrias. Su misión es crear un futuro en el que los drones operen de forma autónoma, eficiente y segura. Para lograrlo, ofrecen una plataforma de software Enterprise Drone Autonomy diseñada para integradores de sistemas. Esta plataforma automatiza operaciones repetibles y rutinarias de drones utilizando muelles de drones, que se pueden desplegar para la seguridad del sitio, la inspección de activos o la respuesta de emergencia.</p>
								
							</div>
							<div class="col-4 col-12-medium">
								<h2>La Plataforma</h2>
								<p>La plataforma de FlytBase soporta operaciones de drones BVLOS (Beyond Visual Line of Sight) y garantiza el cumplimiento de las regulaciones de aviación. Proporciona registros de datos detallados, aplicaciones personalizables y una integración perfecta con los flujos de trabajo existentes. La plataforma es hardware-agnóstica, escalable y prioriza la seguridad.</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Nuevas posibilidades</h2>
								<p>FlytBase colabora con fabricantes de drones, integradores de sistemas y clientes empresariales de todo el mundo. Su compromiso con la investigación, la innovación y el compromiso de la comunidad los posiciona como un actor clave en el ecosistema de drones, transformando industrias y creando nuevas posibilidades.</p>
							</div>
						</div>
					</div>
				</div>
						
					<a href="#five" class="goto-next scrolly">Siguiente</a>
				</section>

			<!-- Five -->
				<section id="five" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{{ url_for('static', filename='images/multicopter-1873532_1280.jpg') }}" alt="back5" /></span>

					<div class="content">
						<header>
							<h2>Globodain Technology Corporation</h2>
						</header>
						<p>
							Globodain es una empresa tecnológica con sede en Sevilla, España. Nuestro principal objetivo es el desarrollo de la tecnología digital, y colaboramos activamente en proyectos de la Unión Europea, incluido el programa Erasmus+ Mobility. Globodain se concentra en hacer avances tecnológicos y crear un impacto positivo a través de la innovación y la colaboración.
						</p>						
					</div>
					<a href="#footer" class="goto-next scrolly">Siguiente</a>
				</section>
				
			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; SkyNova. Todos los derechos reservados.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>