<!DOCTYPE HTML>
<html>
	<head>
		<title> SkyNova Project </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/mainF.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexES">SkyNova</a></h1>
				<nav id="nav">
					<ul>						
						<li class="hov"><a>Cómo Funciona</a>
							<ul>
								<li><a href="/hiwES">Ejecutando el script</a></li>
								<li><a href="/informationES">Informaciones</a></li>
								<li><a href="/softwareES">El Software</a></li>
							</ul>
						</li>
						<li class="hov"><a>Saber más</a>
							<ul>
								<li><a href="/benefitsES">Prestaciones</a></li>
								<li><a href="/contactsES">Contactos</a></li>
							</ul>
						</li>
						<li class="hov"><a>Idioma</a>
							<ul>
								<li><a href="/modelsPL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polaco </a></li>
								<li><a href="/models"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos"alt="flag1"> Ingles </a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
				<section id="banner">
					<div class="content">
						<header>
							<h2>Modelos</h2>
						
						</header>
						
					</div>
	
				</section>
         <!-- One -->
				<section id="one" class="spotlight style3 left">
			

					<div class="content">
					
							<header>
								<h2>Modelo 1</h2>	</header>
								<p>Este modelo muestra todo el boceto del hangar. En ella podemos ver, entre otras cosas, los paneles solares o la entrada al hangar</p>
								
					</div>
					<div>
						<img id="img1" src="images/Models/Models/cad drawing 1 -copy.png" alt="Models" />
					</div>
			
				</section>
				<!-- two -->
				<section id="two" class="spotlight style2 right">
					
					<div class="content">
						<header>
							<div class="col-4 col-12-medium">
								<h2>Modelo 2</h2></header>
								<p>Este modelo muestra la vista frontal junto con los componentes de la batería dentro del hangar. A través de esta representación, se puede visualizar la apariencia visual potencial de la estructura. </p> 
							</div>
							<div>
								<img id="img2" src="images/Models/Models/battery side and front.png" alt="Models2" />
							</div>
				
				</section>

				<section id="three" class="spotlight style3 left">
					
					<div class="content">
						<header>
							<div class="col-4 col-12-medium">
								<h2>Modelo 3</h2></header>
								<p>Desde esta perspectiva, obtenemos una visión precisa del lado de la batería. Además, representa con precisión el lado correspondiente de la estructura del hangar. </p>
							</div>
							<div>
							<embed id="img3" src="images/Models/Models/battery side.png" alt="Model3">
							</div>
				
				</section>
		
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>