<!DOCTYPE HTML>
<html>
	<head>
		<title> SkyNova Project </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>		
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/index">SkyNova</a></h1>
				<nav id="nav">
					<ul>						
						<li class="hov"><a><a href="/contacts">Contacts</a></a>
						</li>
						<li class="hov"><a>Learn More</a>
							<ul>
								<li><a href="/benefits">Benefits</a></li>
								<li><a href="/hiw">Running the Script</a></li>
								<li><a href="/software">The Software</a></li>
							</ul>
						</li>
						<li class="hov"><a>Language</a>
							<ul>
								<li><a href="/indexPL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polish</a></li>
								<li><a href="/indexES"><img src="{{ url_for('static', filename='images/country_flag/spain-28530_640.png') }}" class="photos"alt="flag2"> Spanish</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</p>
			</header>
		</div>

		<!-- COOKIE -->

        <div id="cookie-window">
            <p>
                This website stores data such as <span class="cookie">cookies</span> to enable site functionality including analytics and personalization.  
            </p>
            <div id="cookie-consent-container">
                <div id="cookie-container">
                    <button id="cookie-consent">I Consent</button>
                    <button id="cookie-rejection">Reject All</button>
                </div>
            </div>
        </div>

				<section id="banner">
					<div class="content">
						<header>
							<h2>SkyNova</h2>
							<p>WHERE DRONES FIND HOME</p>
						</header>
						
					</div>
				</section>
			<!-- Four -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<div class="col-4 col-12-medium">
							<header>
								<h2>What is SkyNova?</h2>	</header>
								<p><strong>Skynova</strong> project is a platform that helps you remotely connect and operate your fleet of drones anywhere you want. Our System allows you to view data and communicate with drone base, drones, docking stations in one easy to understand dashboard. </p>
							
						</div>
						<div class="col-4 col-12-medium">
							<h2>Why did we create this project?</h2>
							<p>We aim to utilize this project to enhance the operational efficiency of police officers, firefighters, and other essential services in their day-to-day activities. Through this website, public services can now operate with greater ease and efficiency compared to previous methods. The streamlined handling and operation of drones contribute to an overall improvement, ensuring enhanced safety for individuals. </p>
						</div>
						<div class="col-4 col-12-medium">
							<h2>Uses for project skynova</h2>
							<p>
								<strong>Skynova</strong> serves as a cutting-edge drone home base, providing seamless charging and maintenance for unmanned aerial vehicles. With automated docking capabilities and real-time monitoring, it revolutionizes drone operations for tasks ranging from surveillance to delivery services. </p>
						</div>
						<div class="col-4 col-12-medium">
							<h2>Our solution against others</h2>
							<p>
								Our  project stands out against other drone home base solutions by offering unparalleled efficiency through advanced automation in docking, charging, and maintenance processes. Unlike competitors, our system boasts real-time monitoring capabilities, ensuring optimal drone performance and reducing downtime. With a user-friendly interface and superior technology integration, <strong>Skynova</strong> leads the way in revolutionizing the drone ecosystem.</p>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; SkyNova. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/cookies.js') }}"></script>

	</body>
</html>