<!DOCTYPE HTML>
<html>
	<head>
		<title> SkyNova Project </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/mainC.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/index">SkyNova</a></h1>
				<nav id="nav">
					<ul>						
						<li class="hov"><a>How It Works</a>
							<ul>
								<li><a href="/hiw">Running the Script</a></li>
								<li><a href="/models">Models</a></li>
								<li><a href="/software">The Software</a></li>
							</ul>
						</li>
						<li class="hov"><a>Learn More</a>
							<ul>
								<li><a href="/benefits">Benefits</a></li>
								<li><a href="/contacts">Contacts</a></li>
							</ul>
						</li>
						<li class="hov"><a>Language</a>
							<ul>
								<li><a href="/informationPL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polish</a></li>
								<li><a href="/informationES"><img src="{{ url_for('static', filename='images/country_flag/spain-28530_640.png') }}" class="photos"alt="flag2"> Spanish</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
				<section id="banner">
					<div class="content">
						<header>
							<h2>Informations</h2>
							<p>Learn more about our project</p>
						</header>
						
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
			<section id="one" class="spotlight style1 bottom">
					
				<span class="image fit main"><img src="{{ url_for('static', filename='images/drone-4638280_1280.jpg') }}" alt="back1" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<h2>Urban Rooftop Deliveries</h2>
								<p>Imagine a bustling cityscape where drones zip between skyscrapers, delivering packages to rooftop landing pads. The SkyNova Project envisions a future where urban dwellers receive their morning coffee, fresh produce, and even prescription medications via drone.
									These aerial couriers navigate complex airspace, avoiding obstacles and ensuring timely deliveries. From office supplies to artisanal pastries, the sky becomes a conveyor belt of convenience.
								</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Eco-Friendly Inspections</h2>
								<p>Skynova’s drones aren’t just for show—they’re eco-warriors. Picture this: A solar-powered drone hovers over a wind turbine, its sensors scanning for wear and tear.
									By detecting early signs of damage, these flying inspectors prevent costly breakdowns and reduce maintenance downtime. It’s sustainability at its highest altitude.</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Emergency Response from Above</h2>
								<p>When disaster strikes, Skynova’s fleet springs into action. Floods, wildfires, or industrial accidents—they’re all within reach.
									Equipped with thermal cameras and gas sensors, these drones access danger zones, locate survivors, and relay critical information to first responders. Lives hang in the balance, and the drones become heroes of the sky.</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>

			<!-- Two -->
				<section id="two" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/drone_fire.jpg') }}" alt="back2" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
									<h2>Emergency Deployment</h2>
									<p>When an emergency occurs (natural disasters, medical emergencies, etc.), the drone home’s sensors detect the situation.
										The home release a fully charged drone, which autonomously fly to the target location.
										The drone carry medical supplies, search for survivors, or access damage.</p>
								
							</div>
							<div class="col-4 col-12-medium">
								<h2>Navigation and Safety</h2>
								<p>Drone homes are equipped with GPS receivers and collision avoidance systems.
									Drones leaving the home follow pre-defined flight paths or dynamically adjust their routes based on real-time data.
									Safety protocols prevent collisions with other drones or obstacles.
									</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Public Awareness and Acceptance</h2>
								<p>Educating the public about the benefits of drone homes is crucial. Addressing concerns related to privacy, noise, and safety is essential.
									Collaborating with local authorities, emergency services, and communities foster acceptance and integration.</p>
							</div>
						</div>
					</div>
				</div>
						
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

				<!-- Three -->
				<section id="three" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/city_overlook.png') }}" alt="back3" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">
								<h2>Design and Deployment</h2>
								<p>The project involve designing specialized drone stations or homes that can accommodate drones whenthey are not in use. These homes are strategically placed in various locations, including urbancenters, rural areas, and disaster-prone regions.</p>
								
							</div>
							<div class="col-4 col-12-medium">
								<h2>Autonomous Charging and Maintenance</h2>
								<p>Each drone home are equipped with an autonomous charging system. When a drone returns from a mission, it is automatically dock at its designated home. The charging system replenish the drone’s battery, ensuring it’s ready for the next deployment. Maintenance tasks, such as sensor calibration, propeller checks, and software updates, also performed within the home.</p>
							</div>
							<div class="col-4 col-12-medium">
								<h2>Integration with Communication Networks</h2>
								<p>Drone homes are connected to communication networks (such as 3G, 4G, or 5G) to facilitate real-time communication with ground control stations. In disaster scenarios, these homes act as communication hubs, providing connectivity to affected areas.</p>
							</div>
						</div>
					</div>
				</div>
						
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->

			<section id="four" class="spotlight style1 bottom">
				<span class="image fit main"><img src="{{ url_for('static', filename='images/drone123.jpg') }}" alt="back4" /></span>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">
							<h2>FlytBase Company</h2>
							<p>FlytBase, a pioneering company, provides a drone autonomy platform that finds applications across various industries. Their mission is to create a future where drones operate autonomously, efficiently, and safely. To achieve this, they offer an Enterprise Drone Autonomy Software Platform designed for system integrators. This platform automates repeatable and routine drone operations using drone docks, which can be deployed for site security, asset inspection, or emergency response.</p>
							
						</div>
						<div class="col-4 col-12-medium">
							<h2>The Platform</h2>
							<p>FlytBase’s platform supports BVLOS (Beyond Visual Line of Sight) drone operations and ensures compliance with aviation regulations. It provides detailed data logs, customizable apps, and seamless integration with existing workflows. The platform is hardware-agnostic, scalable, and prioritizes safety.</p>
						</div>
						<div class="col-4 col-12-medium">
							<h2>New Possibilities</h2>
							<p>FlytBase collaborates with drone manufacturers, system integrators, and enterprise customers worldwide. Their commitment to research, innovation, and community engagement positions them as a key player in the drone ecosystem, transforming industries and creating new possibilities.</p>
						</div>
					</div>
				</div>
			</div>
					
				<a href="#five" class="goto-next scrolly">Next</a>
			</section>

				<section id="five" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{{ url_for('static', filename='images/multicopter-1873532_1280.jpg') }}" alt="back5" /></span>

					<div class="content">
						<header>
							<h2>Globodain Technology Corporation</h2>
						</header>
						<p>
							Globodain is a technology company headquartered in Seville, Spain. Our primary focus lies in digitaltechnologydevelopment, and we actively collaborate in European Union projects, including Erasmus+ MobilityProgram.Globodain concentrates on making technological advancements and creating a positive impact throughinnovationand collaboration
						</p>						
					</div>
					<a href="#footer" class="goto-next scrolly">Next</a>
				</section>
				
			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; SkyNova. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>